<html>
  <head>
      <title>
        <%= title%>
      </title>
      <link rel="stylesheet" href="/css/home.css">
      <meta charset="utf-8">
	    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
      <meta name="viewport" content="width-device-width, initial scale =1">
  </head>
  <body>
    <div id="main">
      <div id="heading">
        <h1><i class="fa fa-tasks" aria-hidden="true"> &nbsp;</i>To Do Tracker</h1>
      </div>
      <!-- page heading -->
      <div id="page-heading">
        <div>
          <h2>My To Do List </h2>
        </div>
        <!-- button for new todo entry pop up form -->
        <div>
          <button class="open-button" onclick="openForm()">Add Task</button>
        </div>
      </div>    
        <!-- todo list entry  -->
      <div id="todo_list_container">
        <ul id="list">
          <% for(let i of todo_list) {%>
              <li class="todo">
                <div class="detail">  
                  <div class="detail1">
                  <p id="my_name"><%= i.name %></a> </p>
                  <button class="cat_try" ><%= i.category %></button>
                  </div>
                  <div class="detail2">
                  <p>Deadline: <%= i.date %></p>
                </div>
                </div>
                <div class="delete-button">
                    <a href="/delete_todo/?id=<%= i._id %>">
                    <button type="submit" class="btn">Remove This Task</button>
                    </a>
                </div>
              </li>
  
              <%}%>
        </ul>
  
      </div>

      <!-- pop up form -->
      <div class="form-popup" id="myForm">
        <form action="/create_todo" class="form-container" method="POST">
          <h1>Include your new To Do Task</h1>
      
          <label for="name"><b>Task Description</b></label>
          <input type="text" placeholder="Enter To Do Item" name="name" required>

          <label for="category"><b>CATEGORY</b></label> <br>
          <select class="mySelect" name="category" required>
            <option  > Choose a Category </option> <br>
            <option  > Personal </option> <br>
            <option > Work </option> <br>
            <option > Office </option> <br>
            <option > School </option> <br>
          </select> <br>

          <label for="date"><b>Due Date</b></label><br>
          <input type="date" placeholder="Enter Date" name="date" required>
      
          <button type="submit" class="btn">Add Item</button>
          <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
      </div>
      <!-- pop up form end-->
    </div>
      <script type="text/javascript" src="/js/home.js"></script>
  </body>
</html>