<html>
  <head>
      <title>
        <%= title%>
      </title>
      <link rel="stylesheet" href="/css/home.css">
      <meta charset="utf-8">
	    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
      <meta name="viewport" content="width-device-width, initial scale =1">
  </head>
  <body>
    <div id="main">
      <div id="heading">
        <h1>To Do Tracker</h1>
      </div>
      <!-- page heading -->
      <div id="page-heading">
        <div>
          <h2>My To Do List </h2>
        </div>
        <!-- button for new todo entry pop up form -->
        <div>
          <button class="open-button" onclick="openForm()">Add More To Do Item</button>
        </div>
      </div>    
        <!-- todo list entry  -->
      <div id="todo_list_container">
        <ul id="list">
             <% for(let i of todo_list) {%>
              
              <li class="todo">
                <div class="detail">  
                  <p id="my_name"><a href="/week"><%= i.name %></a> </p>
                  <p>Completed: <%= i.completed %> / 7</p>
                  <p>Duration: <%= i.duration %> hr</p>
                  <p>Start Date: <%= i.date %></p>
                </div>
                <!-- <div id="seeResult">Hi</div> -->
                <div class="delete-button">
                    <a href="/delete_todo/?id=<%= i._id %>">
                    <button type="submit" class="btn">Remove This To Do Item</button>
                  </a>
                </div>
              </li>
  
              <%}%>
        </ul>
  
      </div>

      <!-- pop up form -->
      <div class="form-popup" id="myForm">
        <form action="/create_todo" class="form-container" method="POST">
          <h1>Include your new To Do Task</h1>
      
          <label for="name"><b>Task</b></label>
          <input type="text" placeholder="Enter To Do Item" name="name" required>

          <label for="completed"><b>Completed Days</b></label>
          <input type="number" placeholder="Enter completed in day" name="completed" required> <br>
      
          <label for="duration"><b>Duration</b></label>
          <input type="number" placeholder="Enter Duration in hour" name="duration" required> <br>

          <label for="date"><b>Date of Creation</b></label><br>
          <input type="date" placeholder="Enter Date" name="date" required>
      
          <button type="submit" class="btn">Add Item</button>
          <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
      </div>
      <!-- pop up form end-->
    </div>
      <script type="text/javascript" src="/js/home.js"></script>
  </body>
</html>